/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */

.banner {
  width: 45%;
  margin-left: 200px;
  margin-bottom: 100px;
}

 .container {
  margin-top: 20px;
  margin-bottom: 20px;
}

.issue-card {
  height: 300px;
  position: relative;
}

.issue-card a:hover {
  text-decoration: none;
}

.issue-card-neighbourhood {
  position: absolute;
  top: 0px;
  left: 0px;
  font-weight: bolder;
  color: $green;
}
.issue-card-upvote {
  position: absolute;
  top: 0px;
  right: 10px;
  font-weight: bolder;
  font-size: 20px;
  color: $light-gray;
}
.issue-card-upvote a {
  color: $green;
}
.issue-card-photo {
  position: absolute;
  top: 30px;
}
.issue-card-title {
  position: absolute;
  bottom: 30px;
  left: 0px;
  font-size: 20px;
  color: $dark-gray;
  font-weight: bolder;
}
.issue-card-category {
  position: absolute;
  bottom: 0px;
  left: 0px;
  font-weight: bolder;
  color: $green; }

html {
   margin:0;
   padding:0;
   height:100%;
}

body {
   margin:0;
   padding:0;
   height:100%;
}

// #container {
//    min-height:100%;
//    position:relative;
// }

#content {
   padding:10px;
   padding-bottom:60px;   /* Height of the footer */
   min-height:80%;
   position:relative;
}

#container {
   height:100%;
}
