/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */

 .most-voted {
  background-color: #fcfcfc;
  margin:0px;
  width:100%;
  margin-top: -70px !important;
  padding-right: 200px;
  padding-left: 200px;
  height:500px;
  padding-top: -30px;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
  position:relative;
  // border-top: 3px solid #baeaac;

  @media (max-width: 991px) {
    height: inherit;
    padding-right: 130px;
    padding-left: 130px;
  }

    @media (max-width: 991px) {
   padding-left: 30px;
   padding-right: 30px;
  }

 }


 .how-to-container {
  background-color: #f3f3f3;
  margin:0px;
  width:100%;
  margin-top: 0px !important;
  padding-right: 120px;
  padding-left: 120px;
  padding-top: 90px;
  background-image: url('http://res.cloudinary.com/dvmgzsqg3/image/upload/v1489600278/homepage-background-bottom_uxhlz0.png');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
  position:relative;
  height: inherit;
  padding-bottom: 210px;
  // border-top: 3px solid #baeaac;

  @media (max-width: 991px) {

  }

    @media (max-width: 991px) {
   padding-left: 30px;
   padding-right: 30px;
   padding-bottom: 180px;
  }

 }


.banner {

  height:100vh;
  width: 100%;
  margin-bottom: 0px;
  margin-top: -55px;
  padding-top: 10em;
  position: relative;
  padding-left:10%;
  padding-right: 50px;

  @media (max-width: 591px) {
      padding-top: 5em;
  }
}

.banner-background {
  margin-top: -55px;
  z-index: -2;
  height:100vh;
  width:100%;
  position:absolute;
  background-image: url('http://res.cloudinary.com/dvmgzsqg3/image/upload/v1489600279/homepage-background-top3_hzqono.png');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size:contain;

    @media (max-width: 991px) {
    width:130%;
    margin-left: -30%;
  }
}


.container {
  margin-top: 20px;
  margin-bottom: 20px;
}

.scroll-prompt {
 width:60px;
 height:60px;
 position:absolute;
 left:50%;
 bottom: -30px;
 transform: rotate(45deg);
 background-color: #baeaac;
 z-index: -2;
}


.banner-content h1 {
  width:75%;
  margin-bottom: 40px;
  @media (max-width: 591px) {
   margin-bottom: 20px;
  }
}

.banner-content h1, .most-voted h3 {
  font-weight: bold;
    @media (max-width: 891px) {
   width:100%;
   font-size: 39px;
  }

      @media (max-width: 591px) {
   width:100%;
   font-size: 30px;
  }
}

.banner-content {
  width:100%;
}

.banner form {
  width:100%;
  // padding-right: 400px;

    @media (max-width: 991px) {
    // padding-right: 100px;
  }
}

.home-search {
  position:relative;
}

  .container-arrow span{
    display: inline-block; font-size: 60px;
    animation: .7s down  infinite alternate;
    -webkit-animation: .7s down infinite alternate;


    position: absolute;
    top: -120px;
    left: 0px;
    right: 0px;

      @media (max-width: 591px) {
      top:-90px;
   }
  }

  .container-arrow i {
    display: block;
    text-align: center;
  }
    /***Animation Arrow down***/
    @keyframes down{
        0%{transform:translateY(0px)}
        100%{transform:translateY(20px)}
    }
    @-webkit-keyframes down{
        0%{-webkit-transform:translateY(0px)}
        100%{-webkit-transform:translateY(20px)}
    }

.how-to img {
  width:100%;
  max-width: 280px;
  display: block;
  margin: auto;
}

.how-to {
    @media (max-width: 991px) {
    margin-top: 40px;
  }
}

.how-to-section {
  margin-bottom: 50px;
}

.how-to-title, .how-to-text, .how-to-section-title{
  text-align: center;
}

.how-to-title {
  height: 50px;
  font-size: 23px;
  color: #6ECA52;
  margin-top: 8px;
}

.how-to-text-section {
  margin-bottom: 180px;
  max-width: 500px;
    display: block;
    margin: auto;
    margin-top: -15px;
}

.how-to-section-title {
  font-size: 34px;
  font-weight: bold;
  margin-bottom: 20px;
}

.most-voted .issue-card {
  @media (max-width: 991px) {
    margin-left: auto;
    margin-right: auto;
  }
}

.most-voted h3 {
    @media (max-width: 991px) {
    text-align: center;
  }
}
// .anchor {
//   position: relative;
// }

// .home-search {
//   position:absolute;
//   right:0px;
//   bottom: -70px;
// }




