<div id="footer">
  <ul class="list-inline">
    <li>
      <h4>Get in touch with us at smart@citizen.you</h4>
    </li>
    <li>
    <i class="fa fa-facebook fa-2x"></i>
    </li>
    <li>
      <i class="fa fa-twitter fa-2x"></i>
    </li>
    <li>
      <i class="fa fa-instagram fa-2x"></i>
    </li>
    <li>
      <i class="fa fa-youtube fa-2x"></i>
    </li>
  </ul>
</div>





