<div id="footer">
  <h5><%= link_to t('.about'), about_path %></h5>
  <ul class="list-inline">
<!--     <li>
    <i class="fa fa-facebook fa-2x"></i>
  </li> -->
  <li>
    <%= link_to "https://www.twitter.com/citizenvoice_io" do %>
    <i class="fa fa-twitter fa-2x"></i>
    <% end %>
  </li>
<!--     <li>
      <i class="fa fa-instagram fa-2x"></i>
    </li> -->
    <li>
      <%= mail_to "info@citizenvoice.io" do %>
      <i class="fa fa-envelope fa-2x"></i>
      <% end %>
    </li>
  </ul>
  <div id="sqreen">
    <a title="Realtime application protection" href="https://www.sqreen.io/?utm_source=badge"><img style="width:109px;height:36px" src="https://s3-eu-west-1.amazonaws.com/sqreen-assets/badges/20161213/sqreen-badgeDark@2x.png" alt="Sqreen | Runtime Application Protection" /></a>
  </div>
</div>





