<div class="container-issues">
 <h1>Sobre nosaltres<span class="green-period">.</span></h1>
 <p>La missió de Call Out és ajudar a millorar el compromís cívic a la comunitat facilitant que els residents siguin escoltats pels seus representants locals. El primer prototip va ser dissenyat al Març del 2017 com el projecte final del bootcam de programació de Le Wagon a Barcelona. </p>

 <div class="founder-header">
   <div class="row founder-card">
    <div class="col-lg-3">
     <div class="politician-photo padded-sm">
      <%= image_tag "dan.jpeg", width: "100%" %>
    </div>
  </div>

  <div class="col-lg-6">
    <div class="politician-header padded-sm">
    <h2 class = "politican-title" style ="display:inline-block;">Dan Siberry</h2>
      <i class="fa fa-twitter blue-twitter"></i>
      <div class="politician-verified">
        <span>Verificada
          <i class="fa fa-check"></i></span>
        </div>
      </div>

      <div class="politician-bio">
        <p>Dan és un programdor i dissenyador web a Barcelona. Al seu temps lliure fa aplicacions web amb Ruby on Rails i React. Té experiència al món del marketing i la fotografia.</p>
      </div>
    </div>

    <div class="col-lg-3">
      <div class="politician-other padded-sm">
        <div class="politician-rating">
          <h5>Molt actiu</h5>
        </div>
        <div class="issues-prepositions">
          <h5>Github Commits</h5>
        </div>
        <div class="issues-details">
          <h5 class="reply-count">55</h5>
        </div>
        <div class="issues-prepositions">
          <h5>Al càrrec</h5>
        </div>
        <div class="issues-details">
          <h5>Cofundador</h5>
        </div>
        <div class="issues-prepositions">
          <h5>Partit Polític</h5>
        </div>
        <div class="issues-details">
          <h5>El partit social i republicà dels Hackers</h5>
        </div>
      </div>
    </div>
  </div>

  <div class="row founder-card">
    <div class="col-lg-3">
     <div class="politician-photo padded-sm">
      <%= image_tag "erin.jpeg", width: "100%" %>
    </div>
  </div>

  <div class="col-lg-6">
    <div class="politician-header padded-sm">
      <h2 class = "politican-title" style = "display:inline-block;">Erin Douglas</h2>
      <i class="fa fa-twitter blue-twitter"></i>
      <div class="politician-verified">
        <span>Verificada
          <i class="fa fa-check"></i></span>
        </div>
      </div>

      <div class="politician-bio">
        <p>Erin és una emprenedora americana al món empreserial. Després de graduar-se en ciències polítiques a UPenn, es va mudar a França on va començar un exitós programa de formació dins d'una empresa tecnològica francesa. Call Out li permet juntar dos de les seves passions que són emprendre i millorar el procés democràtic.  </p>
      </div>
    </div>

    <div class="col-lg-3">
      <div class="politician-other padded-sm">
        <div class="politician-rating">
          <h5>Molt Activa</h5>
        </div>
        <div class="issues-prepositions">
          <h5>Github Commits</h5>
        </div>
        <div class="issues-details">
          <h5 class="reply-count">70</h5>
        </div>
        <div class="issues-prepositions">
          <h5>Al càrrec</h5>
        </div>
        <div class="issues-details">
          <h5>Cofundadora</h5>
        </div>
        <div class="issues-prepositions">
          <h5>Partido Polític</h5>
        </div>
        <div class="issues-details">
          <h5>Partit Democràtic i Popular de la Privacitat/h5>
        </div>
      </div>
    </div>
  </div>

   <div class="row founder-card">
    <div class="col-lg-3">
     <div class="politician-photo padded-sm">
      <%= image_tag "andreas.jpeg", width: "100%" %>
    </div>
  </div>

  <div class="col-lg-6">
    <div class="politician-header padded-sm">
      <h2 class = "politican-title" style = "display:inline-block;">Andreas Dieryck</h2>
      <i class="fa fa-twitter blue-twitter"></i>
      <div class="politician-verified">
        <span>Verificada
          <i class="fa fa-check"></i></span>
        </div>
      </div>

      <div class="politician-bio">
        <p>Andreas és un estudiant de ciències polítiques i econòmiques, és un apassionat de la tecnologia. Al seu temps lliure li agrada córrer i espera un dia ser el primer en córrer una mitja marató a Marte. </p>
      </div>
    </div>

    <div class="col-lg-3">
      <div class="politician-other padded-sm">
        <div class="politician-rating">
          <h5>Molt Actiu</h5>
        </div>
        <div class="issues-prepositions">
          <h5>Github Commits</h5>
        </div>
        <div class="issues-details">
          <h5 class="reply-count">44</h5>
        </div>
        <div class="issues-prepositions">
          <h5>Al càrrec</h5>
        </div>
        <div class="issues-details">
          <h5>Hacker</h5>
        </div>
        <div class="issues-prepositions">
          <h5>Partit Polític</h5>
        </div>
        <div class="issues-details">
          <h5>Movimient ciutadà pel Codi Obert</h5>
        </div>
      </div>
    </div>
  </div>

    <div class="row founder-card">
    <div class="col-lg-3">
     <div class="politician-photo padded-sm">
      <%= image_tag "alvaro.jpeg", width: "100%" %>
    </div>
  </div>

  <div class="col-lg-6">
    <div class="politician-header padded-sm">
      <h2 class = "politican-title" style = "display:inline-block;">Alvaro Santoma</h2>
      <i class="fa fa-twitter blue-twitter"></i>
      <div class="politician-verified">
        <span>Verificada
          <i class="fa fa-check"></i></span>
        </div>
      </div>

      <div class="politician-bio">
        <p>Alvaro és un enginyer industrial de la UPC. És un enamorat de Xina i ha treballat a fàbriques a Xina i a Espanya com a investigador i enginyer. Un dels seus hobbies és visitar i cuidar a les persones grans. Creu que la revolució digital que estem vivint pot ser part de la solució al distanciament de la classe política i els ciutdans.</p>
      </div>
    </div>

    <div class="col-lg-3">
      <div class="politician-other padded-sm">
        <div class="politician-rating">
          <h5>Molt Actiu</h5>
        </div>
        <div class="issues-prepositions">
          <h5>Github Commits</h5>
        </div>
        <div class="issues-details">
          <h5 class="reply-count">27</h5>
        </div>
        <div class="issues-prepositions">
          <h5>Al càrrec</h5>
        </div>
        <div class="issues-details">
          <h5>Hacker</h5>
        </div>
        <div class="issues-prepositions">
          <h5>Partit Polític</h5>
        </div>
        <div class="issues-details">
          <h5>Junts programem</h5>
        </div>
      </div>
    </div>
  </div>

</div>
</div>
