<div class="container-issues">
 <h1>About Us<span class="green-period">.</span></h1>
 <p>CitizenVoice's mission is to improve civic engagement in the community by helping residents make themselves heard by their elected representatives. The first release was designed, built and shipped in March 2017 as the final project of the Le Wagon programming bootcamp in Barcelona.</p>

 <div class="founder-header">
   <div class="row founder-card">
    <div class="col-lg-3">
     <div class="politician-photo padded-sm">
      <%= image_tag "dan.jpeg", width: "100%" %>
    </div>
  </div>

  <div class="col-lg-6">
    <div class="politician-header padded-sm">
    <h2 class = "politican-title" style ="display:inline-block;">Dan Siberry</h2>
      <i class="fa fa-twitter blue-twitter"></i>
      <div class="politician-verified">
        <span>Verified
          <i class="fa fa-check"></i></span>
        </div>
      </div>

      <div class="politician-bio">
        <p>Dan is a freelance web developer and designer in Barcelona. In his spare time he is making web applications with Ruby on Rails and React. His background is in photography and marketing.</p>
      </div>
    </div>

    <div class="col-lg-3">
      <div class="politician-other padded-sm">
        <div class="politician-rating">
          <h5>Highly Responsive</h5>
        </div>
        <div class="issues-prepositions">
          <h5>Github Commits</h5>
        </div>
        <div class="issues-details">
          <h5 class="reply-count">55</h5>
        </div>
        <div class="issues-prepositions">
          <h5>Office</h5>
        </div>
        <div class="issues-details">
          <h5>Co-founder</h5>
        </div>
        <div class="issues-prepositions">
          <h5>Political party</h5>
        </div>
        <div class="issues-details">
          <h5>Hackers' Party</h5>
        </div>
      </div>
    </div>
  </div>

  <div class="row founder-card">
    <div class="col-lg-3">
     <div class="politician-photo padded-sm">
      <%= image_tag "erin.jpeg", width: "100%" %>
    </div>
  </div>

  <div class="col-lg-6">
    <div class="politician-header padded-sm">
      <h2 class = "politican-title" style = "display:inline-block;">Erin Douglas</h2>
      <i class="fa fa-twitter blue-twitter"></i>
      <div class="politician-verified">
        <span>Verified
          <i class="fa fa-check"></i></span>
        </div>
      </div>

      <div class="politician-bio">
        <p>Erin is an American corporate entrepreneur living in Paris, France. After getting a bachelor's degree in political science from UPenn, she moved to France to start up a successful training business within a French IT consulting company. CitizenVoice gives her a chance to bring together two of her passions - entrepreneurship and improving the democratic process.</p>
      </div>
    </div>

    <div class="col-lg-3">
      <div class="politician-other padded-sm">
        <div class="politician-rating">
          <h5>Highly Responsive</h5>
        </div>
        <div class="issues-prepositions">
          <h5>Github Commits</h5>
        </div>
        <div class="issues-details">
          <h5 class="reply-count">70</h5>
        </div>
        <div class="issues-prepositions">
          <h5>Office</h5>
        </div>
        <div class="issues-details">
          <h5>Co-founder</h5>
        </div>
        <div class="issues-prepositions">
          <h5>Political party</h5>
        </div>
        <div class="issues-details">
          <h5>Democratic People's Party of Privacy</h5>
        </div>
      </div>
    </div>
  </div>


    <div class="row founder-card">
    <div class="col-lg-3">
     <div class="politician-photo padded-sm">
      <%= image_tag "alvaro.jpeg", width: "100%" %>
    </div>
  </div>

  <div class="col-lg-6">
    <div class="politician-header padded-sm">
      <h2 class = "politican-title" style = "display:inline-block;">Alvaro Santoma</h2>
      <i class="fa fa-twitter blue-twitter"></i>
      <div class="politician-verified">
        <span>Verified
          <i class="fa fa-check"></i></span>
        </div>
      </div>

      <div class="politician-bio">
        <p>Alvaro is an industrial engineer and graduate of UPC. He did his bachelor's thesis at CEIBS (Shanghai) and has worked in factories both in Spain and China as an engineer and researcher. He is a strongly committed to his local community in Barcelona. One of his hobbies is to take care and visit the elderly. He believes in true public service where politicians' role is to serve its citizens and solve real problems.</p>
      </div>
    </div>

    <div class="col-lg-3">
      <div class="politician-other padded-sm">
        <div class="politician-rating">
          <h5>Highly Responsive</h5>
        </div>
        <div class="issues-prepositions">
          <h5>Github Commits</h5>
        </div>
        <div class="issues-details">
          <h5 class="reply-count">27</h5>
        </div>
        <div class="issues-prepositions">
          <h5>Office</h5>
        </div>
        <div class="issues-details">
          <h5>Co-founder</h5>
        </div>
        <div class="issues-prepositions">
          <h5>Political party</h5>
        </div>
        <div class="issues-details">
          <h5>United We Code</h5>
        </div>
      </div>
    </div>
  </div>

</div>
</div>
