<div class="container-issues">
 <h1>Sobre nosotros<span class="green-period">.</span></h1>
 <p>La misión de CitizenVoice es mejorar el compromiso cívico en la comunidad ayudando a que los residentes sean escuchados por sus representantes locales. El primer prototipo fue diseñado y lanzado en Marzo de 2017 como el proyecto final del bootcamp de programación de Le Wagon en Barcelona.</p>

 <div class="founder-header">
   <div class="row founder-card">
    <div class="col-lg-3">
     <div class="politician-photo padded-sm">
      <%= image_tag "dan.jpeg", width: "100%" %>
    </div>
  </div>

  <div class="col-lg-6">
    <div class="politician-header padded-sm">
    <h2 class = "politican-title" style ="display:inline-block;">Dan Siberry</h2>
      <i class="fa fa-twitter blue-twitter"></i>
      <div class="politician-verified">
        <span>Verificada
          <i class="fa fa-check"></i></span>
        </div>
      </div>

      <div class="politician-bio">
        <p>Dan es un programador y diseñador web en Barcelona. En su tiempo libre hace aplicaciones web con Ruby on Rails y React. Tiene experiencia en el mundo del marketing y la fotografía.</p>
      </div>
    </div>

    <div class="col-lg-3">
      <div class="politician-other padded-sm">
        <div class="politician-rating">
          <h5>Muy activo</h5>
        </div>
        <div class="issues-prepositions">
          <h5>Github Commits</h5>
        </div>
        <div class="issues-details">
          <h5 class="reply-count">55</h5>
        </div>
        <div class="issues-prepositions">
          <h5>Office</h5>
        </div>
        <div class="issues-details">
          <h5>Cofundador</h5>
        </div>
        <div class="issues-prepositions">
          <h5>Partido Político</h5>
        </div>
        <div class="issues-details">
          <h5>El partido social de los Hackers</h5>
        </div>
      </div>
    </div>
  </div>

  <div class="row founder-card">
    <div class="col-lg-3">
     <div class="politician-photo padded-sm">
      <%= image_tag "erin.jpeg", width: "100%" %>
    </div>
  </div>

  <div class="col-lg-6">
    <div class="politician-header padded-sm">
      <h2 class = "politican-title" style = "display:inline-block;">Erin Douglas</h2>
      <i class="fa fa-twitter blue-twitter"></i>
      <div class="politician-verified">
        <span>Verificada
          <i class="fa fa-check"></i></span>
        </div>
      </div>

      <div class="politician-bio">
        <p>Erin es una emprendedora americanca dentro del mundo empresarial. Después de graduarse en ciencias políticas por UPenn, se mudó a Francia donde empezó un exitoso programa de formación dentro de una consultora tecnológica francesa. CitizenVoice le permite juntar dos de sus pasiones que son emprender y mejorar el proceso democrático. </p>
      </div>
    </div>

    <div class="col-lg-3">
      <div class="politician-other padded-sm">
        <div class="politician-rating">
          <h5>Muy Activa</h5>
        </div>
        <div class="issues-prepositions">
          <h5>Github Commits</h5>
        </div>
        <div class="issues-details">
          <h5 class="reply-count">70</h5>
        </div>
        <div class="issues-prepositions">
          <h5>Office</h5>
        </div>
        <div class="issues-details">
          <h5>Cofundadora</h5>
        </div>
        <div class="issues-prepositions">
          <h5>Partido Político</h5>
        </div>
        <div class="issues-details">
          <h5>Partido Democrático y Popular de la Privacidad</h5>
        </div>
      </div>
    </div>
  </div>


    <div class="row founder-card">
    <div class="col-lg-3">
     <div class="politician-photo padded-sm">
      <%= image_tag "alvaro.jpeg", width: "100%" %>
    </div>
  </div>

  <div class="col-lg-6">
    <div class="politician-header padded-sm">
      <h2 class = "politican-title" style = "display:inline-block;">Alvaro Santoma</h2>
      <i class="fa fa-twitter blue-twitter"></i>
      <div class="politician-verified">
        <span>Verificada
          <i class="fa fa-check"></i></span>
        </div>
      </div>

      <div class="politician-bio">
        <p>Alvaro es un ingeniero industrial de la UPC. Realizó su trabajo final en CEIBS (Shanghai) y ha trabajado en fábricas en España y China como ingeniero e investigador. Es una persona muy social e involucrada con su comunidad en Barcelona. Uno de sus hobbies es visitar y cuidar a las personas mayores. Cree que la revolución digital que estamos viviendo debe ser parte de la solución al distanciamento de la clase política y los ciudadanos.</p>
      </div>
    </div>

    <div class="col-lg-3">
      <div class="politician-other padded-sm">
        <div class="politician-rating">
          <h5>Muy Activo</h5>
        </div>
        <div class="issues-prepositions">
          <h5>Github Commits</h5>
        </div>
        <div class="issues-details">
          <h5 class="reply-count">27</h5>
        </div>
        <div class="issues-prepositions">
          <h5>Office</h5>
        </div>
        <div class="issues-details">
          <h5>Cofundadora</h5>
        </div>
        <div class="issues-prepositions">
          <h5>Partido Político</h5>
        </div>
        <div class="issues-details">
          <h5>Unidos programamos</h5>
        </div>
      </div>
    </div>
  </div>

</div>
</div>
