// Your footer style


#footer {
   bottom:0;
   width:100%;
   height:60px;   /* Height of the footer */
   text-align: center;
   position: relative;
   font-size: 10px;
}

#footer li {
  margin: 12px;
}

#footer h3 {
  font-size: 10px;
}

#footer a {
  color: #333333;
}

#footer a:hover {
  color: $green;
}





