

.box-input {
  background: white;
  border-radius: 6px;
  border-bottom: 2px solid $green;
}

.text-around-forms{
  font-size: 16px;
  font-family: $base-font;
}

.below-form {
  margin-top: 50px;
}

