.issues-navigation {
  font-weight: bolder;
  margin-top: 50px;
    @media (max-width: 474px) {
      margin-top: 20px;
      margin-bottom: 40px;
    }
}

.issues-tag {
  display: inline;
  padding:0px;
}

.issues-posted-at {
  display: inline;
  padding:0px;
}

.issues-edit {
  display: inline;
  margin-right: 120px;
}

.issues-content {
  padding-top: 45px;
  padding-bottom: 40px;
  width:90%;
}

.issues-replies {
  margin-bottom: 40px;
  h2 {
    font-size: 22px;
    color: $light-gray;
  }
}
.issues-replier {
  background-color: $green;
  color: white;
  width: 85%;
  padding: 5px 30px;
  margin: 10px 0px;
  @media (max-width: 920px) {
      padding: 5px 15px;
    }
  h4 {
    font-weight: bolder;
    @media (max-width: 920px) {
      font-size: 17px;
      margin-bottom: 5px;
      margin-top: 5px;
    }

  }
}
.issues-replies-text {
  margin-bottom: 30px;
  width: 85%;
}

.issues-upvote {
  font-weight: bolder;
  font-size: 40px;
  color: $light-gray;
  text-align: right;
  margin-top: 60px;
  margin-bottom: 50px;
}
.issues-upvote a {
  color: $green;
}

.issues-prepositions h5 {
  color: $light-gray;
  text-align: right;
  font-weight: bolder;
  margin-top: 20px;
}

.grey-subtitle {
  color: $light-gray;
  font-weight: bolder;
  margin-right: 10px;
}

.green-subtitle {
  color: $green;
  font-weight: bolder;
}

.issues-details {
  text-align: right;
  direction: rtl;
  word-wrap:break-word;
  h5 {
    color: $green;
    font-weight: bolder;
  }
}

.issues-related {
  h2 {
    font-size: 22px;
    color: $light-gray;
  }
  padding-left: 15px;
}

.show-button {
  margin-top: 50px;
}

.mail-contact span {
  color: #1b95e0;
  font-size: 16px;
  padding-bottom: 10px;
}

.mail-contact .prompt {
  font-family: sans-serif;
}



.issues-title h1 {
 margin-top: 40px;
}

.mobile-info-col {
  margin-top: -25px;
  margin-bottom: -25px;

  .mobile-photo {
    width:60%;
    margin-bottom: 15px;
  }
}

.mobile-inline {
 display: inline-block;
 text-align: left;

   h5 {
    margin-top: 0px;
    margin-bottom: 5px;
   }
}

.mobile-upvote {
 position: absolute;
 right: 50px;
 top: -70px;
}
