
.card-issue-new {
  margin-top: 30px;
  position: relative;
  input {
    display: none;
  }
  input:checked + label {
    border-color: $green;
    border-bottom-width: 3px;
    color: $green;

    img{
      opacity: 1;
    }
  }
}


.politician-item {
  color: $light-gray;
  height: 350px;
  cursor: pointer;
  transition: color 0.2s, border-color 0.2s;
  display: block;
  h3, h4, p {
    margin: 0 15px;
  }
  img {
    max-width: 100%;
    flex: 1 1 auto;
    opacity: 0.6;
    transition: opacity 0.5s;
  }
  }


.image-container {
  overflow: hidden;
  width: 100%;
  height: 250px;
  background: #F5F5F5;
  margin-bottom: 20px;
  opacity: 0.5;
  transition: opacity 0.2s;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

