.claim-public-profile {
  padding-top: 10px;
  padding-bottom: 20px;
}

.politician-info {
  margin: 40px 0px;
}

.cloudinary-image-div {
  padding: 0;
}

.cloudinary-image {
  width: 100%;
  max-width: 200px;
}

.politician-header {
  h3 {
    display: inline;
    margin-right: 10px;
  }
}

.politican-title {
  margin-top: 0px;
}

.politician-verified {
  color: $green;
  font-weight: bolder;
  display: inline;
  span {
    margin-right: 20px;
  }
}

.politician-bio {
  margin: 40px 0px;
}

.politician-other {

}

.politician-rating {
  h5 {
    color: $green;
    text-align: right;
    font-weight: bolder;
    margin-top: 0px;
  }
}

.politician-replies {
  padding: 40px 0px;
  padding-left: 0px;
  padding-top: 15px;
}

.politician-replies h4, .politician-tags h4 {
  padding-left: 15px;
  margin-bottom: 0px;
  margin-top: 35px;
}

.politician-tags {
  padding: 40px 0px;
  padding-left: 0px;
}

.blue-twitter {
  font-size: 20px;
  padding-left: 10px;
}

.reply-count {
  font-size: 52px;
  font-weight: 400 !important;
  margin-top: -12px;
}

@media (max-width : 480px) {
/* heree */
    #office h5, #party h5 {
    text-align:left;
  }

  .reply-count {
    font-size: 22px;
  }
  //   .mobile-right {
  //   position:absolute;
  //   top:20px
  // }
}

@media (max-width : 767px) {
  #office h5, #party h5 {
    text-align:left;
  }
  .general-info {
    text-align: center;
  }
  .cloudinary-image {
  display: block;
  margin: auto;
  }
  }

.no-padding {
  padding: 0px;
}

.no-margin-right {
  margin-right: 0px;
}
