.politicians-navigation {
  font-weight: bold;
  margin-top: 50px;
  h2 {
    display: inline;
    font-weight: bold
  }
  h3 {
    font-weight: bold;
    display: inline;
    font-size: 20px;
  }
}

.politician-profile-message {
  margin: 20px 0px;
  color: $light-gray;
  font-weight: bolder;
}

.politician-tabs {
  margin: 20px 0px;
  text-align: right;
  font-weight: bolder;
  margin-right: -30px;
}

.politician-showing {
  color: $light-gray;
  display: inline;
  padding-right: 10px;
}

.politician-elected {
  display: inline;
  color: $light-gray;
}

.politician-active {
  color: $green;
  display: inline;
}

.politician-info-index h4 {
  width:200px;
  font-family: 'Gotham-Rounded';
}

.index-nav {
  margin-bottom: 30px;
}

.politican-info-index {
  right:30px;
}



.politicians-list {
  margin-right: -45px;
  margin-left: -100px;
  margin-top: 50px;
}
