.politicians-navigation {
  font-weight: bold;
  margin-top: 50px;
  h2 {
    display: inline;
    font-weight: bold
  }
  h3 {
    font-weight: bold;
    display: inline;
    font-size: 20px;
  }
}

.politician-profile-message {
  margin: 20px 0px;
  color: $light-gray;
  font-weight: bolder;
}

.politician-tabs {
  margin: 20px 0px;
  text-align: right;
  font-weight: bolder;
  margin-right: -30px;
  @media (max-width: 750px) {
      text-align: left;
    }
}

.politician-showing {
  color: $light-gray;
  display: inline;
  padding-right: 10px;
}

.politician-elected {
  display: inline;
  color: $light-gray;
}

.politician-active {
  color: $green;
  display: inline;
}

.politician-info-index {
  max-width: 50%;
  right:30px;
  h4 {
    font-family: 'Gotham-Rounded';
  }
  @media (max-width: 370px) {
      max-width: 45%;
    }
}

.index-nav {
  margin-bottom: 30px;
}

.politicians-list {
  // margin-right: -45px;
  margin-left: -100px;
  margin-top: 50px;
}

.custom-icon {
  width: 15px !important;
  display: inline-block;
}

.politician-verified-index span, .politician-rating h5 {
  text-align: left;
  display: inline-block;
  color: #afacac;
  font-size: 14px;
  margin-top: 5px;
}

.ratings {
  right:0px;
  bottom: 0px;
  text-align: right;
}

.unelected-politician {
  display:none;
}
