 .container-issues {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 200px;
  margin-right: 200px;
}

.container-issues h1 {
  font-weight: bold;
  margin-left: 0px;
  margin-top: 50px;
  margin-bottom: 20px;
}


  @media (max-width: 1000px) {
     .container-issues {
      margin-left: 100px;
      margin-right: 100px;
    }
  }


  @media (max-width: 750px) {
     .container-issues {
      margin-left: 60px;
      margin-right: 60px;
    }
  }

    @media (max-width: 450px) {
     .container-issues {
      margin-left: 30px;
      margin-right: 30px;
    }
  }
