 .container-issues {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 200px;
  margin-right: 200px;
}

.container-issues h1 {
  font-weight: bold;
  margin-left: 0px;
  margin-top: 50px;
  margin-bottom: 20px;
}
