
#search {
  text-align : center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  .select {
    padding: 5px 50px;
    margin-right: 7px;
    background: #FCFCFC;
    border: 0;
    border-bottom: 1px solid $green;
    &:focus {
      outline: 0;
    }
  }
}

#filter {
  margin-top: 40px;
  margin-bottom: 40px;
}


body .select2-selection.select2-selection--single {
  border-radius: 0px;
  border: 0;
  background: #FCFCFC;
  border-bottom: 2px solid $green;
  height: 34px;
  text-align: left;
}

.homepage-button {
  margin-left: 15px;
}

.blank-space {
  margin-left: 15px;
}

