 .container-search {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 160px;
  margin-right: 160px;
}

.issue-card-search {
  height: 115px;
  position: relative;
  margin: 40px;
}

.issue-card-title-search {
  position: absolute;
  bottom: 30px;
  left: 0px;
  font-size: 18px;
  color: $dark-gray;
  font-weight: bolder;
}

