
#search {
  text-align : left;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  @media (max-width: 635px) {
    flex-direction:column
  }

  .select {
    padding: 10px 30px;
    width: 400px;
    margin-right: 7px;
    background: #FCFCFC;
    border: 0;
    border-bottom: 1px solid $green;
    &:focus {
      outline: 0;
    }
  }

  .btn {
  @media (max-width: 635px) {
    margin-top:30px !important;
    width: 120px;
    text-align:center;
    margin:auto;
    font-size:25px
  }
}

  span {
    @media (max-width: 635px) {
    margin-top:10px;
    width:350px;
    }
  }
}

#filter {
  margin-top: 40px;
  margin-bottom: 40px;
}


body .select2-selection.select2-selection--single {
  border-radius: 0px;
  border: 0;
  background: #FCFCFC;
  border-bottom: 2px solid $green;
  height: 34px;
  text-align: left;
}

.homepage-button {
  margin-left: 15px;
}

.blank-space {
  margin-left: 15px;
}

/* Custom form select chevron */

 #search select:not([multiple]) {
    -webkit-appearance: none;
    -moz-appearance: none;
    background-position: right 50%;
    background-repeat: no-repeat;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAMCAYAAABSgIzaAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyJpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMC1jMDYwIDYxLjEzNDc3NywgMjAxMC8wMi8xMi0xNzozMjowMCAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNSBNYWNpbnRvc2giIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6NDZFNDEwNjlGNzFEMTFFMkJEQ0VDRTM1N0RCMzMyMkIiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6NDZFNDEwNkFGNzFEMTFFMkJEQ0VDRTM1N0RCMzMyMkIiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDo0NkU0MTA2N0Y3MUQxMUUyQkRDRUNFMzU3REIzMzIyQiIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDo0NkU0MTA2OEY3MUQxMUUyQkRDRUNFMzU3REIzMzIyQiIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/PuGsgwQAAAA5SURBVHjaYvz//z8DOYCJgUxAf42MQIzTk0D/M+KzkRGPoQSdykiKJrBGpOhgJFYTWNEIiEeAAAMAzNENEOH+do8AAAAASUVORK5CYII=);
    padding: .5em;
    padding-right: 1.5em;
    background-color: #fcfcfc;
}

 #search select {
  border: none;
  border-radius: 0px;
  border-bottom: 1px solid grey;
  margin-right: 20px;
}

/* Fixing the position of the form select chevron for mobile */

 @media (max-width: 635px) {
  span[role="presentation"] {
    width: 20px !important;
    left: 330px !important;
  }
  #search input {
    position: absolute;
    bottom: -90px;
    right: 0;
    left: 0;
  }

  /* Index page only - move search button above form */
  .container-issues input {
    bottom: 180px !important;
    right: -20 !important;
    left: 200px !important;
    width:80px !important;
  }
}

 @media (max-width: 410px) {
  span[role="presentation"] {
    width: 20px !important;
    left: 250px !important;
  }
  #search span[role="combobox"] {
    width:270px;
  }

  span[dir="ltr"] {
  width: 280px !important;
  }
}

  #search span[role="combobox"] {
    min-width:150px;
  }



