.issue-card {
  height: 170px;
  position: relative;
  box-shadow: rgba(204, 204, 204, 0.3) -3px 3px 5px;
}

.issue-card a:hover {
  text-decoration: none;
}

.link-box {
  position: absolute;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  z-index: 6;
}

.issue-card-neighbourhood {
  position: absolute;
  top: 20px;
  left: 20px;
  font-weight: bolder;
  color: $green;
}
.issue-card-upvote {
  position: absolute;
  top: 20px;
  right: 20px;
  font-weight: bolder;
  font-size: 20px;
  color: $light-gray;
  z-index: 7;
}
.issue-card-upvote a {
  color: $green;
}
.issue-card-photo {
  position: absolute;
  top: 30px;
}
.issue-card-title {
  padding-left: 20px;
  padding-top: 50px;
  font-size: 20px;
  color: $dark-gray;
  font-weight: bolder;
}
.issue-card-category {
  position: absolute;
  bottom: 20px;
  left: 20px;
  font-weight: bolder;
  color: $green; }

  .issue-card-search {
    margin-top: 30px;
    height: 170px;
    position: relative;
    margin: px;
  }

  .issue-card-title-search {
    display: block;
    margin-top: 60px;
    margin-left: 20px;
    font-size: 18px;
    color: $dark-gray;
    font-weight: bolder;
  }

  .politician-card {
    width: 90%;
    height: 250px;
    margin: 20px;
    position: relative;
  }

  .politician-photo-index {
    width: 50%;
  }

  .politician-info-index {
    position: absolute;
    top: 0px;
    right: 0px;
    text-align: right;
  }

  .politician-verified-index {
    color: $green;
    font-weight: bolder;
    display: inline;
  }
