<div class="container">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">

      <% require 'devise/version' %>
      <p><%= t('.greeting', recipient: @resource.email) %></p>
      <p><%= t('.message') %></p>>

    </div>
  </div>
</div>
